*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}